.image{
    max-height: 200px;
    object-fit: contain !important;
}
.content{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.icon{
    font-size: 20px;
}
.inFavorite{
    color: #fc0014;
}